@font-face {
  font-family: 'latoreg';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mavenreg';
  src: url("../fonts/MavenPro-Regular.woff2") format("woff2"), url("../fonts/MavenPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*:focus {
  outline: none !important;
}

body,
ul,
ol,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hexal_navbar {
  position: relative;
  background: #323232;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 53% 75%, 50% 100%, 47% 75%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 53% 75%, 50% 100%, 47% 75%, 0 75%);
  padding-bottom: 1%;
}

.hexal_navbar .container .navbar_all_items {
  padding: 1%;
}

.hexal_navbar .container .navbar_all_items .all_items {
  list-style: none;
  text-align: center;
}

.hexal_navbar .container .navbar_all_items .all_items .nav_item {
  display: inline-block;
  margin: 0 1%;
}

.hexal_navbar .container .navbar_all_items .all_items .nav_item .nav_link {
  color: #ffffff;
  font-family: 'latobold';
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_navbar .container .navbar_all_items .all_items .nav_item .nav_link:hover {
  color: #2eb398;
}

.hexal_navbar .container .navbar_all_items .all_items .nav_item .nav_link img {
  position: relative;
  left: 3px;
}

.line_sperate {
  position: relative;
  display: inline-block;
  width: 100%;
}

.line_sperate::before {
  content: '';
  position: absolute;
  left: 4%;
  width: 40%;
  height: 1px;
  background: #e4e9eb;
  top: -30px;
}

.line_sperate::after {
  content: '';
  position: absolute;
  right: 4%;
  width: 40%;
  height: 1px;
  background: #e4e9eb;
  top: -30px;
}

.portfolio_slider {
  position: relative;
}

.portfolio_slider .our_portfolio .portfolio_all_content {
  margin-bottom: -4%;
}

.portfolio_slider .our_portfolio .portfolio_all_content:last-child {
  margin-bottom: 0;
}

.portfolio_slider .our_portfolio .portfolio_all_content .portfolio_project {
  text-align: center;
  position: relative;
}

.portfolio_slider .our_portfolio .portfolio_all_content .portfolio_project .line_verticaly {
  position: absolute;
  width: 1px;
  height: 45%;
  background: #e4e9eb;
  display: inline-block;
  top: 28%;
}

.portfolio_slider .our_portfolio .portfolio_all_content .portfolio_project .project_content {
  margin: 1%;
  display: inline-block;
  width: 17%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.portfolio_slider .our_portfolio .portfolio_all_content .portfolio_project .project_content .project_link .project_img {
  width: 100%;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.portfolio_slider .our_portfolio .portfolio_all_content .portfolio_project .project_content:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 80%, 50% 100%, 0% 75%, 0% 20%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 80%, 50% 100%, 0% 75%, 0% 20%);
}

.portfolio_slider .our_portfolio .portfolio_all_content .portfolio_project .project_content:hover .project_link .project_img {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.portfolio_slider .slider_indicators {
  position: absolute;
  bottom: 0;
  left: 1%;
  list-style: none;
}

.portfolio_slider .slider_indicators li {
  display: inline-block;
  margin-right: 4px;
  width: 10px;
  height: 10px;
}

.portfolio_slider .slider_indicators li button {
  border: none;
  width: 10px;
  height: 10px;
  color: rgba(0, 0, 0, 0);
  padding: 0;
  cursor: pointer;
  background: #ddd2c5;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.portfolio_slider .slider_indicators li button:hover {
  background: #8b8784;
}

.portfolio_slider .slider_indicators li.slick-active button {
  background: #8b8784;
}

.line_sperate_horizontal {
  display: block;
  height: 2px;
  width: 94%;
  margin: 1% auto;
  background: #e4e9eb;
}

.owner_information {
  padding: 4%;
  background: #2eb398;
}

.owner_information .information_content {
  position: relative;
}

.owner_information .information_content::before {
  content: '';
  position: absolute;
  left: -1%;
  top: -10%;
  width: 1px;
  height: 120%;
  background: #219d84;
}

.owner_information .information_content::after {
  content: '';
  position: absolute;
  right: -1%;
  top: -10%;
  width: 1px;
  height: 120%;
  background: #219d84;
}

.owner_information .information_content .owner_img {
  margin: 0;
}

.owner_information .information_content .owner_img .img_content {
  margin: 0 auto;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  width: 230px;
  height: 230px;
  border: 2px solid transparent;
  overflow: hidden;
}

.owner_information .information_content .owner_img .img_content img {
  height: 100%;
}

.owner_information .information_content .owner_img .img_content:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
  border: 2px solid #6ccbbe;
  border-radius: 50%;
}

.owner_information .information_content .owner_info .info_content .owner_name {
  font-family: "mavenreg";
  color: #d7fcf5;
  margin: 0;
}

.owner_information .information_content .owner_info .info_content .onwer_skills {
  font-family: "mavenreg";
  color: #20816d;
  margin: 0;
}

.owner_information .information_content .owner_info .info_content .onwer_talk {
  font-family: "latoreg";
  color: #d7fcf5;
  text-align: justify;
}

.owner_information .information_content .owner_info .info_content .onwer_social_media {
  list-style: none;
  display: block;
  text-align: right;
}

.owner_information .information_content .owner_info .info_content .onwer_social_media li {
  display: inline-block;
}

.owner_information .information_content .owner_info .info_content .onwer_social_media li:nth-child(odd) a {
  background: #a4dbd4;
}

.owner_information .information_content .owner_info .info_content .onwer_social_media li:nth-child(even) a {
  background: #6ccbbe;
}

.owner_information .information_content .owner_info .info_content .onwer_social_media li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 2;
  color: #2eb398;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.owner_information .information_content .owner_info .info_content .onwer_social_media li a:hover {
  background: #ffffff;
}

.hexal_footer {
  position: relative;
  padding: 4%;
  background: #323232;
  font-family: "mavenreg";
}

.hexal_footer .form_heading {
  color: #e0e0e0;
  font-size: 38pt;
  margin: 0;
}

.hexal_footer .form_description {
  color: #bebebe;
  font-size: 18pt;
}

.hexal_footer .contact_us .contact_form_content .contact_form {
  font-family: "latoreg";
  padding: 1px;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input {
  display: block;
  background: #454545;
  width: 100%;
  height: 50px;
  margin-bottom: 2%;
  padding: 2%;
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  border: 1px solid transparent;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input::-webkit-input-placeholder {
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input:-ms-input-placeholder {
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input::-ms-input-placeholder {
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input::placeholder {
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input:focus {
  font-family: "latobold";
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input:focus::-webkit-input-placeholder {
  font-family: "latoreg";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input:focus:-ms-input-placeholder {
  font-family: "latoreg";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input:focus::-ms-input-placeholder {
  font-family: "latoreg";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_input:focus::placeholder {
  font-family: "latoreg";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area {
  display: block;
  background: #454545;
  width: 100%;
  height: 150px;
  resize: none;
  margin-bottom: 2%;
  padding: 2%;
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  border: 1px solid transparent;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area::-webkit-input-placeholder {
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area:-ms-input-placeholder {
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area::-ms-input-placeholder {
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area::placeholder {
  color: #bebebe;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area:focus {
  font-family: "latobold";
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area:focus::-webkit-input-placeholder {
  font-family: "latoreg";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area:focus:-ms-input-placeholder {
  font-family: "latoreg";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area:focus::-ms-input-placeholder {
  font-family: "latoreg";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_text_area:focus::placeholder {
  font-family: "latoreg";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_submit {
  display: block;
  margin-left: auto;
  background: #2eb398;
  border: 1px solid transparent;
  color: #e4e9eb;
  font-family: 'latobold';
  padding: 1% 4%;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_submit:hover {
  background: #454545;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.hexal_footer .contact_us .contact_form_content .contact_form .form_submit:focus {
  color: #191919;
}

.hexal_footer .contact_us .contact_description_content .description {
  font-family: "latoreg";
  color: #bebebe;
  text-align: justify;
  padding: 2%;
  border-radius: 2px;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.hexal_footer .contact_us .contact_description_content .description .highlight {
  font-family: "latobold";
  color: #e0e0e0;
}

.hexal_footer .contact_us .contact_description_content .description:hover {
  background: rgba(255, 255, 255, 0.05);
}

.hexal_footer .contact_us .contact_description_content .contact_info {
  list-style: none;
}

.hexal_footer .contact_us .contact_description_content .contact_info li {
  padding: 2%;
  font-size: 10pt;
}

.hexal_footer .contact_us .contact_description_content .contact_info li a {
  color: #bebebe;
  font-family: "latobold";
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  padding: 2%;
  display: block;
}

.hexal_footer .contact_us .contact_description_content .contact_info li a i {
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  color: #2eb398;
  display: inline-block;
  margin-right: 5px;
}

.hexal_footer .contact_us .contact_description_content .contact_info li a:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #2eb398;
}

.hexal_footer::after {
  content: '';
  position: absolute;
  width: 96%;
  left: 2%;
  bottom: 2%;
  height: 2px;
  background: #2b2b2b;
}

.copy_right {
  background: #222222;
  font-family: "mavenreg";
  padding: 1%;
}

.copy_right .copy_content {
  color: #454545;
  margin: 0;
  margin-left: 2%;
}
/*# sourceMappingURL=style.css.map */
