doctype html
html(lang="en")
        head
                meta(charset="utf-8")
                meta(name="viewport",content="width=device-width, initial-scale=1.0")
                meta(http-equiv="X-UA-Compatible" content="ie=edge")
                include assests/styles.pug
                title HeXal
        body
                aside.hexal_navbar
                        .container
                                nav.navbar_all_items
                                        mixin nav_item(item)
                                                li.nav_item
                                                        a(href="#").nav_link= item
                                        ul.all_items
                                                each item in ["PORTFOLIO","ABOUT"]
                                                        +nav_item(item)
                                                li.nav_item
                                                        a.nav_link(href="#")
                                                                img(src="img/hexal_logo.png" alt="Hexal Logo")
                                                each item in ["BLOG","GET IN TOUCH"]
                                                        +nav_item(item)
                span.line_sperate
                section.portfolio_slider
                        - for( var x = 0 ; x < 6 ; x++)       
                                .our_portfolio
                                        .portfolio_all_content
                                                .portfolio_project
                                                        span.line_verticaly
                                                        - for( var i = 1 ; i < 5 ; i++ )
                                                                .project_content
                                                                        a(href = "#" class = "project_link")
                                                                                img(class = "project_img" src = 'img/project-'+ i + '.jpg', alt = "Project Img")
                                                        span.line_verticaly
                                        .portfolio_all_content
                                                .portfolio_project
                                                        - for( var i = 5 ; i < 10 ; i++ )
                                                                .project_content
                                                                        a(href = "#" class = "project_link")
                                                                                img(class = "project_img" src = 'img/project-'+ i + '.jpg', alt = "Project Img")
                                        .portfolio_all_content
                                                .portfolio_project
                                                        span.line_verticaly
                                                        - for( var i = 10 ; i < 14 ; i++ )
                                                                .project_content
                                                                        a(href = "#" class = "project_link")
                                                                                img(class = "project_img" src = 'img/project-'+ i + '.jpg', alt = "Project Img")
                                                        span.line_verticaly
                span.line_sperate_horizontal
                section.owner_information
                        .container
                                .row.justify-content-center.information_content
                                        .col-lg-3.owner_img
                                                .img_content
                                                        img(src="img/owner_img.jpg" alt="Owner Picture")
                                        .col-lg-9.owner_info
                                                .info_content
                                                        h1.owner_name Mahmoud Hamdy
                                                        h2.onwer_skills UI / UX Developer
                                                        p.onwer_talk Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor, nibh at sagittis tristique, enim magna pretium augue, eget consectetur sem dui non urna. Integer gravida, diam congue molestie fringilla, elit odio rhoncus turpis, ac dictum libero elit vel metus. Morbi egestas sit amet velit eget venenatis. Mauris porttitor, nibh at sagittis tristique, enim magna pretium augue, eget consectetur sem dui non urna
                                                        ul.onwer_social_media
                                                                li
                                                                        a(href="#")
                                                                                i.fab.fa-facebook-f
                                                                li
                                                                        a(href="#")
                                                                                i.fab.fa-twitter
                                                                li
                                                                        a(href="#")
                                                                                i.fab.fa-google-plus-g
                                                                li
                                                                        a(href="#")
                                                                                i.fab.fa-pinterest-p
                                                                li
                                                                        a(href="#")
                                                                                i.fab.fa-linkedin-in
                                                                li
                                                                        a(href="#")
                                                                                i.fab.fa-dribbble
                footer.hexal_footer_copy
                        .container
                                h2.form_heading Get In Touch
                                p.form_description In order to get in touch use the contact form below :
                                .row.justify-content-center.contact_us
                                        .col-lg-9.contact_form_content
                                                form.contact_form
                                                        input(type="text" placeholder="Name" class="form_input")
                                                        input(type="email" placeholder="Email" class="form_input")
                                                        input(type="text" placeholder="Subject" class="form_input")
                                                        textarea(class="form_text_area" placeholder="Write your message here...")
                                                        button(type="submit" class="form_submit") Send
                                        .col-lg-3.contact_description_content
                                                p.description
                                                        span.highlight Quisque Hendrerit: 
                                                        |purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus. Proin sit amet volutpat libero. Nulla sed nunc et tortor luctus faucibus morbi vitae. 
                                                ul.contact_info
                                                        li
                                                                a(href="https://goo.gl/maps/aiwQi99YNaE2")
                                                                        i.fas.fa-map-marker-alt
                                                                        |1St Hassan El-Deeb Giza , Egypt
                                                        li
                                                                a(href="tel:+‎201153777451")
                                                                        i.fas.fa-phone
                                                                        |01153777451
                                                        li
                                                                a(href="mailto:Mahmoud-El-Deeb@hotmail.com")
                                                                        i.fas.fa-envelope
                                                                        |Mahmoud-El-Deeb@hotmail.com
               
               
                include assests/scripts.pug

