link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous")
link(rel="stylesheet",href="css/fontawesome-all.min.css")
link(rel="stylesheet",href="css/slick.css")
link(rel="stylesheet",href="css/animate_it.css")
link(rel="stylesheet",href="css/style.css")
link(rel="stylesheet",href="css/media.css")
