$primary-color:#323232;
$secondary-color:#2eb398;
$white-color:#ffffff;
$line-color:#e4e9eb;
$info-color:#d7fcf5;
$indicators-active:#8b8784;
$project-dimantion:230px;
$font-primary:'mavenreg';
$font-secondary:'latoreg';
$font-secondaryB:'latobold';
$transation: all ease-out 0.3s;
@font-face {
        font-family: 'latoreg';
        src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'latobold';
        src: url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
}

@font-face {
        font-family: 'mavenreg';
        src: url('../fonts/MavenPro-Regular.woff2') format('woff2'), url('../fonts/MavenPro-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

* {
        &:focus {
                outline: none !important;
        }
}

body,
ul,
ol,
html {
        margin: 0;
        padding: 0;
}

a {
        text-decoration: none;
        &:hover {
                text-decoration: none;
        }
}

.hexal_navbar {
        position: relative;
        background: $primary-color;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 53% 75%, 50% 100%, 47% 75%, 0 75%);
        padding-bottom: 1%;
        .container {
                .navbar_all_items {
                        padding: 1%;
                        .all_items {
                                list-style: none;
                                text-align: center;
                                .nav_item {
                                        display: inline-block;
                                        margin: 0 1%;
                                        .nav_link {
                                                color: $white-color;
                                                font-family: 'latobold';
                                                transition: $transation;
                                                &:hover {
                                                        color: $secondary-color;
                                                }
                                                img {
                                                        position: relative;
                                                        left: 3px;
                                                }
                                        }
                                }
                        }
                }
        }
}

.line_sperate {
        position: relative;
        display: inline-block;
        width: 100%;
        &::before {
                content: '';
                position: absolute;
                left: 4%;
                width: 40%;
                height: 1px;
                background: $line-color;
                top: -30px;
        }
        &::after {
                content: '';
                position: absolute;
                right: 4%;
                width: 40%;
                height: 1px;
                background: $line-color;
                top: -30px;
        }
}

.portfolio_slider {
        position: relative;
        .our_portfolio {
                .portfolio_all_content {
                        margin-bottom: -4%;
                        &:last-child {
                                margin-bottom: 0;
                        }
                        .portfolio_project {
                                text-align: center;
                                position: relative;
                                .line_verticaly {
                                        position: absolute;
                                        width: 1px;
                                        height: 45%;
                                        background: $line-color;
                                        display: inline-block;
                                        top: 28%;
                                }
                                .project_content {
                                        margin: 1%;
                                        display: inline-block;
                                        width: 17%;
                                        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                                        transition: $transation;
                                        .project_link {
                                                .project_img {
                                                        width: 100%;
                                                        transition: $transation;
                                                        filter: blur(1px);
                                                }
                                        }
                                        &:hover {
                                                clip-path: polygon(50% 0%, 100% 25%, 100% 80%, 50% 100%, 0% 75%, 0% 20%);
                                        }
                                        &:hover .project_link .project_img {
                                                filter: blur(0);
                                        }
                                }
                        }
                }
        }
        .slider_indicators {
                position: absolute;
                bottom: 0;
                left: 1%;
                list-style: none;
                li {
                        display: inline-block;
                        margin-right: 4px;
                        width: 10px;
                        height: 10px;
                        button {
                                border: none;
                                width: 10px;
                                height: 10px;
                                color: rgba(0, 0, 0, 0);
                                padding: 0;
                                cursor: pointer;
                                background: rgb(221, 210, 197);
                                transition: $transation;
                                &:hover {
                                        background: $indicators-active;
                                }
                        }
                        &.slick-active button {
                                background: $indicators-active;
                        }
                }
        }
}

.line_sperate_horizontal {
        display: block;
        height: 2px;
        width: 94%;
        margin: 1% auto;
        background: $line-color;
}

.owner_information {
        padding: 4%;
        background: $secondary-color;
        .information_content {
                position: relative;
                &::before {
                        content: '';
                        position: absolute;
                        left: -1%;
                        top: -10%;
                        width: 1px;
                        height: 120%;
                        background: rgb(33, 157, 132);
                }
                &::after {
                        content: '';
                        position: absolute;
                        right: -1%;
                        top: -10%;
                        width: 1px;
                        height: 120%;
                        background: rgb(33, 157, 132);
                }
                .owner_img {
                        margin: 0;
                        .img_content {
                                margin: 0 auto;
                                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                                transition: all ease-out 0.5s;
                                width: 230px;
                                height: 230px;
                                border: 2px solid transparent;
                                overflow: hidden;
                                img {
                                        height: 100%;
                                }
                                &:hover {
                                        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
                                        border: 2px solid #6ccbbe;
                                        border-radius: 50%;
                                }
                        }
                }
                .owner_info {
                        .info_content {
                                .owner_name {
                                        font-family: $font-primary;
                                        color: $info-color;
                                        margin: 0;
                                }
                                .onwer_skills {
                                        font-family: $font-primary;
                                        color: #20816d;
                                        margin: 0;
                                }
                                .onwer_talk {
                                        font-family: $font-secondary;
                                        color: $info-color;
                                        text-align: justify;
                                }
                                .onwer_social_media {
                                        list-style: none;
                                        display: block;
                                        text-align: right;
                                        li {
                                                display: inline-block;
                                                &:nth-child(odd) a {
                                                        background: #a4dbd4;
                                                }
                                                &:nth-child(even) a {
                                                        background: #6ccbbe;
                                                }
                                                a {
                                                        display: inline-block;
                                                        width: 30px;
                                                        height: 30px;
                                                        text-align: center;
                                                        line-height: 2;
                                                        color: $secondary-color;
                                                        transition: $transation;
                                                        &:hover {
                                                                background: $white-color;
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}

.hexal_footer {
        position: relative;
        padding: 4%;
        background: $primary-color;
        font-family: $font-primary;
        .form_heading {
                color: #e0e0e0;
                font-size: 38pt;
                margin: 0;
        }
        .form_description {
                color: #bebebe;
                font-size: 18pt;
        }
        .contact_us {
                .contact_form_content {
                        .contact_form {
                                font-family: $font-secondary;
                                padding: 1px;
                                .form_input {
                                        display: block;
                                        background: rgb(69, 69, 69);
                                        width: 100%;
                                        height: 50px;
                                        margin-bottom: 2%;
                                        padding: 2%;
                                        color: #bebebe;
                                        transition: $transation;
                                        border: 1px solid transparent;
                                        &::placeholder {
                                                color: #bebebe;
                                                transition: $transation;
                                        }
                                        &:focus {
                                                font-family: $font-secondaryB;
                                                color: rgba(255, 255, 255, 0.7);
                                                transition: $transation;
                                                border: 1px solid rgba(255, 255, 255, 0.7);
                                        }
                                        &:focus::placeholder {
                                                font-family: $font-secondary;
                                                transition: $transation;
                                        }
                                }
                                .form_text_area {
                                        display: block;
                                        background: rgb(69, 69, 69);
                                        width: 100%;
                                        height: 150px;
                                        resize: none;
                                        margin-bottom: 2%;
                                        padding: 2%;
                                        color: #bebebe;
                                        transition: $transation;
                                        border: 1px solid transparent;
                                        &::placeholder {
                                                color: #bebebe;
                                                transition: $transation;
                                        }
                                        &:focus {
                                                font-family: $font-secondaryB;
                                                color: rgba(255, 255, 255, 0.7);
                                                transition: $transation;
                                                border: 1px solid rgba(255, 255, 255, 0.7);
                                        }
                                        &:focus::placeholder {
                                                font-family: $font-secondary;
                                                transition: $transation;
                                        }
                                }
                                .form_submit {
                                        display: block;
                                        margin-left: auto;
                                        background: $secondary-color;
                                        border: 1px solid transparent;
                                        color: $line-color;
                                        font-family: 'latobold';
                                        padding: 1% 4%;
                                        transition: $transation;
                                        cursor: pointer;
                                        &:hover {
                                                background: #454545;
                                                border: 1px solid rgba(255, 255, 255, 0.7);
                                        }
                                        &:focus {
                                                color: rgb(25, 25, 25);
                                        }
                                }
                        }
                }
                .contact_description_content {
                        .description {
                                font-family: $font-secondary;
                                color: #bebebe;
                                text-align: justify;
                                padding: 2%;
                                border-radius: 2px;
                                transition: $transation;
                                .highlight {
                                        font-family: $font-secondaryB;
                                        color: #e0e0e0;
                                }
                                &:hover {
                                        background: rgba(255, 255, 255, 0.05);
                                }
                        }
                        .contact_info {
                                list-style: none;
                                li {
                                        padding: 2%;
                                        font-size: 10pt;
                                        a {
                                                color: #bebebe;
                                                font-family: $font-secondaryB;
                                                transition: $transation;
                                                padding: 2%;
                                                display: block;
                                                i {
                                                        transition: $transation;
                                                        color: $secondary-color;
                                                        display: inline-block;
                                                        margin-right: 5px;
                                                }
                                                &:hover {
                                                        background: rgba(255, 255, 255, 0.05);
                                                        color: $secondary-color;
                                                }
                                        }
                                }
                        }
                }
        }
        &::after {
                content: '';
                position: absolute;
                width: 96%;
                left: 2%;
                bottom: 2%;
                height: 2px;
                background: #2b2b2b;
        }
}

.copy_right {
        background: #222222;
        font-family: $font-primary;
        padding: 1%;
        .copy_content {
                color: #454545;
                margin: 0;
                margin-left: 2%;
        }
}